<label for="">Nome</label>
<input type="text" [(ngModel)]="name"><br>  <!-- Two way data binding -->

<label>Salário</label>
<input type="text" [(ngModel)]="salary"><br>

<!-- Destroe a div -->
<div *ngIf="salary < 1000"> <!-- MOSTRAR A DIV SE O SALÁRIO FOR MENOR QUE MIL -->
    <label>Bônus</label>
    <input  type="text" [(ngModel)]="bonus"><br>
</div>

<!-- Esconde a div -->
<!-- ESCONDAR A DIV SE O SALÁRIO FOR MAIOR QUE MIL -->
<!-- <div [hidden]="salary >= 1000"> 
    <label>Bônus</label>
    <input  type="text" [(ngModel)]="bonus"><br>
</div> -->

<button type="button" (click)="addEmpregado()">Adicionar o empregado</button>